*{
    margin: 0;
    padding: 0;
}



body{
    display: grid;
    grid-template: 1fr 4fr /240px 1fr;
    height: 100vh;
}

.sidebar{
    grid-area: 1 / 1 / span 2 / 2 ;
    display: grid;
    background-color: rgb(13, 178, 255);
    color: white;
    font-size: 16px;
    font-weight: 600;
    grid-template-rows: 40px min-content min-content 1fr;
    justify-content: start;
    gap: 50px;
}

.sidebar-section1{
    display: grid;
    grid-row: min-content min-content min-content min-content min-content min-content;
    gap: 20px;
}

.sidebar-section2{
    display: grid;
    grid-row: min-content min-content min-content;
    gap: 20px;
}

.sidebar-logo{
    display: grid;
    align-self: end;
    font-size: 18px;
}


.sidebar-section1 > div, .sidebar-section2 > div, .sidebar-logo > div{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 10px;
}

.sidebar > div i{
    justify-self: center;
}
.sidebar-logo>div>i{
    font-size: 25px;

}

.header{
    height: 180px;
    grid-area: 1 / 2/ 1 / 2 ;
    display: grid;
    grid-template-rows: min-content 1fr;
    box-shadow: 0 5px 5px -5px black;
    background-color: white;
    overflow: visible;
}

.header-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px;   
    font-weight: 800;
    font-size: 14px;
}

.header-1 .left{
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-left: 60px;
    gap: 18px;
    align-items: center;
}

.header-1 .right{
    display: grid;
    grid-template-columns: 30px 30px 1fr;
    margin-left: 60px;
    gap: 18px;
    align-items: center;
    justify-self: end;
    margin-right: 60px;
}

.header-1 > .left >.search{
    height: 25px;
    border-radius: 15px;
    border-style: none;
    background-color: rgba(231, 226, 226, 0.918);
}

.header-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: -2;
}

.header-2 .left .profile-pic-big img{
    border-radius: 50%;
    width: 80px;
}

.header-2 .left{
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-left: 60px;
    gap: 18px;
    align-items: center;
    font-weight: 800;
    font-size: 12px;
}

.name-big > div {
    font-size: 18px;
    margin-top: 10px;
}



.header-2 .right{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-left: 60px;
    gap: 50px;
    align-items: center;
    justify-self: end;
    margin-right: 60px;
}

.header-2 .right button{
    padding: 10px 15px;
    background-color: rgb(13, 178, 255);
    border-radius: 15px;
    border-style: none;
    color: white;
    font-weight: 800;
}

.profile-pic > img{
    border-radius: 50%;
    width: 30px;
}

.main-body{
    grid-area: 2 / 2 / 2 / 2;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 500px 500px;
    padding: 30px;
    gap: 20px;
}

.projects{
    display: grid;
    grid-column-start: 1;
    grid-row: 1 / 3;
    grid-template-columns: repeat(auto-fit, 570px);
    grid-template-rows: repeat(auto-fit, 300px);
    gap: 30px;
}

.card{
    background-color: white;
    box-shadow: 0px 3px 5px gray;
    border-radius: 15px;
    padding: 30px 25px;
    display: grid;
}

.card .description{
    overflow: scroll;
}

.card > .project-name{
    font-weight: 800;
    font-size: 25px;
}

.card > .buttons{
    align-self: end;
    justify-self: end;
    margin-right: 10px;
}

.card > .buttons > button{
    font-size: 20px;
    padding: 5px;
    border-style: none;
    background-color: rgba(1,1,1,0);
}

.anouncements{
    box-shadow: 0px 3px 5px gray;
    border-radius: 10px;
    padding: 10px 30px;
    display: grid;
    align-items: center;
    background-color: white;
}

.news > .border{
    margin-top: 40px;
    border-bottom: 1px solid black;
}

.news .title{
    margin-bottom: 10px;
    font-weight: 800;
}
