*{
    margin: 0;
    padding: 0;
}



body{
    display: grid;
    grid-template: 1fr 4fr /240px 1fr;
    height: 100vh;
}

.sidebar{
    grid-area: 1 / 1 / span 2 / 2 ;
    display: grid;
    background-color: rgb(13, 178, 255);
    color: white;
    font-size: 16px;
    font-weight: 600;
    grid-template-rows: 40px min-content min-content 1fr;
    justify-content: start;
    gap: 50px;
}

.sidebar-section1{
    display: grid;
    grid-row: min-content min-content min-content min-content min-content min-content;
    gap: 20px;
}

.sidebar-section2{
    display: grid;
    grid-row: min-content min-content min-content;
    gap: 20px;
}

.sidebar-logo{
    display: grid;
    align-self: end;
    font-size: 18px;
}


.sidebar-section1 > div, .sidebar-section2 > div, .sidebar-logo > div{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 20px;
}

i{
    justify-self: end;
}
.sidebar-logo>div>i{
    font-size: 25px;
}

.header{
    grid-area: 1 / 2/ 1 / 2 ;
}

.main-body{
    grid-area: 2 / 2 / 2 / 2;
}

.card{
    width: 600px;
}